<form #loginForm="ngForm" novalidate>
<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="account.email" name="email" #email="ngModel" required></ion-input>
    </ion-item>
    <div padding *ngIf="email.invalid||email.dirty">
      <span class="global-error-message">Email is not valid.</span>
    </div>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password"  [(ngModel)]="account.password" name="password" #password="ngModel" required></ion-input>
    </ion-item>
    <div padding *ngIf="password.invalid&&password.dirty">
      <span class="global-error-message">Password is not valid.</span>
    </div>
  </ion-card-content>
  <ion-row padding>
    <ion-col >
      <button ion-button block [navPush]="registerPage">Sign Up</button>
    </ion-col>
    <ion-col>
      <button ion-button block (click)="onLogin()" [disabled]="loginForm.invalid">Login</button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col align-items-center>
      <button ion-button block clear>Forget Password?</button>
    </ion-col>
  </ion-row>
</ion-card>
</form>
