<form [formGroup]="loginFormGroup" (ngSubmit)="onLogin()">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [(ngModel)]="account.email"
                   formControlName="email" type="email"></ion-input>
      </ion-item>

      <div *ngIf="loginFormGroup.controls.email.invalid&&loginFormGroup.controls.email.dirty" padding>
        <span class="global-error-message" *ngIf="loginFormGroup.controls.email.hasError('required'); else invalidEmail">Email is required.</span>
        <ng-template #invalidEmail><span class="global-error-message">Email is not valid.</span> </ng-template>
      </div>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" formControlName="password">
        </ion-input>
      </ion-item>

      <div *ngIf="loginFormGroup.controls.password.invalid&&loginFormGroup.controls.password.dirty" padding>
        <span class="global-error-message" *ngIf="loginFormGroup.controls.password.hasError('required'); else invalidPassword">Password is required.</span>
        <ng-template #invalidPassword><span class="global-error-message">Password must contain atleast 6 characters.</span> </ng-template>
      </div>

    </ion-card-content>
    <ion-row padding>
      <ion-col>
        <button ion-button block type="button"  [navPush]="registerPage">Sign Up</button>
      </ion-col>
      <ion-col>
        <button ion-button block  type="submit" [disabled]="loginFormGroup.invalid">Login</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block clear type="button" (click)="forgetPassword()">Forget Password?</button>
      </ion-col>
    </ion-row>
  </ion-card>
</form>
