app-profile-view {
  .profile-view-image {
    padding-top: 20px;
    max-height: 200px;
    margin: 0 auto;
    height: 200px;
    display: block;
  }
  .profile-view-container {
    height: 220px;
    background-color: #54D3BF;
  }


}
