<ion-list>

  <ion-item-divider>Last Messages</ion-item-divider>
  <ion-item *ngFor="let message of messageList$ | async" (click)="navigateToMessage(message)">
    <ion-avatar item-left >
      <img *ngIf="userProfile.$key === message.userFromId" [src]="message.userToProfile.avatar" item-left >
      <img *ngIf="userProfile.$key === message.userToId" [src]="message.userToProfile.avatar"  item-left >
    </ion-avatar>
    <h2 *ngIf="userProfile.$key === message.userFromId">{{message?.userToProfile?.firstName}} {{message?.userToProfile?.lastName}}</h2>
    <h2 *ngIf="userProfile.$key === message.userToId">{{message?.userFromProfile?.firstName}} {{message?.userFromProfile?.lastName}}</h2>
    <p>{{message?.content}}</p>
  </ion-item>
</ion-list>

