<!--
  Generated template for the ChannelChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>#{{channel.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list >
    <ion-row *ngFor="let message of channelMessage|async">

      <ion-item class="align-right" *ngIf="message.userKey === userProfile.$key">
        <ion-avatar item-right><img [src]=message.avatar></ion-avatar>
        <h2>{{message?.firstName}} {{message?.lastName}}</h2>
        <p>{{message?.content}}</p>
      </ion-item>

      <ion-item *ngIf="message.userKey !== userProfile.$key">
        <ion-avatar item-left><img [src]=message.avatar></ion-avatar>
        <h2>{{message?.firstName}} {{message?.lastName}}</h2>
        <p>{{message?.content}}</p>
      </ion-item>
    </ion-row>
  </ion-list>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-send-message-box (sendMessage)="sendMessage($event)"></app-send-message-box>
  </ion-toolbar>
</ion-footer>
