<div class="profile-view-container">
  <ion-avatar><img class="profile-view-image" [src]="profile.avatar" (click)="captureImage()">
  </ion-avatar>
</div>

<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label floating>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Date of Birth</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="profile.dateOfBirth"></ion-datetime>
    </ion-item>


  </ion-card-content>

  <ion-row>
    <ion-col text-right>
      <button ion-button block (click)="saveProfile()">Save</button>
    </ion-col>
  </ion-row>
</ion-card>


